@font-face{
    font-family: 'MyriadPro';
    src: local('MyriadPro-Regular'), 
		url("fonts/MyriadPro-Regular.ttf") format('truetype');  
	font-weight: normal; 
}
@font-face{
    font-family: 'GothamBold';
    src: local('Gotham-Bold'), 
		url("fonts/Gotham-Bold.ttf" ) format('truetype');  
	font-weight: normal; 
}
@font-face{
    font-family: 'DinAlternateBold';
    src: local('DIN-Alternate-Bold'), 
		url("fonts/DIN-Alternate-Bold.ttf" ) format('truetype');  
	font-weight: normal; 
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom:260px;
    --color-primary: #e07757;
    --color-secondary: #fbe005;
  }
.site-footer{
position: absolute;
bottom: 0;
width:100%;
padding:0;
}
.footer-submenu-section{
    height:200px;
    position:relative;
}
.footer-submenu-section p{
    margin-bottom:0;
}
.footer-submenu-section .wrapper{
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
}
.footer-submenu-section #address{
    font-size:14px;
    font-weight:600;
    letter-spacing:.5px;
    font-family: 'DinAlternateBold';
}
.landing-footer p{
    padding:8px 0;
    font-size:18px;
    font-weight:600;
    letter-spacing:1.5px;
    font-family: 'DinAlternateBold';
}
.landing-footer span.seperator{
    margin: 0 20px;
}
.footer-submenu-section #address span{
    margin: 0 5px;
}
.main-submenu > *{
    text-transform: uppercase;
    font-weight: 600;
    font-size:16px;
    letter-spacing: 1px;
    color:#404040 !important;
    font-family:'DinAlternateBold';
}
.nav-sep{
    margin:0 8px;
}
.nav-sep:last-child{
    display:none;
}


.site-info{
    background-color:#7cbcb2;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:18px;
    line-height:18px;
    width: 100%;
    height:60px;
}
.site-info span{
    font-weight: 600;
    font-size:18px;
    font-family: 'GothamBold';
}
.site-info a{
    font-weight: 300;
    display:inline-block;
    font-size:12px;
    line-height:12px;
    color: white;
}
.site-info input{
    width:400px;
}
.site-info > *{
    margin:0 10px;
}
.copyright{
    font-size:14px;
    margin-top:30px;
    font-family: 'MyriadPro';
}

.featured-image-row{
    margin-bottom:45px;
}
.placehold-image{
    float:left;
    width:18%;
    margin: 0 1%;
    height:200px;
    background-color: gray;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center; 
}
.site-description, #whats-fresh-header{
    font-size:30px;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:45px;
}
#whats-fresh-header{
    margin:0 !important;
}
#whats-fresh-header-section i{
    font-size:30px;
    color: #e07757;
}
.whats-fresh{
    margin-bottom:45px;
    position:relative;
    display:flex;
}
.whats-fresh-item{
    position:relative;
    float:left;
    height:250px;
    flex-grow:1;
}

.whats-fresh-title{
    width:100%;
    background: #e07757;
    font-size:20px;
    font-weight:600;
    letter-spacing:1px;
    padding:8px;
}
.whats-fresh-placehold{
    height:100%;
    background-color:gray;
    margin:0 5px;
    display:flex;
    flex-direction: column-reverse;

    background-size:cover;
    background-repeat:no-repeat;
    background-position: center; 
}
.whats-fresh-item:nth-child(2) .whats-fresh-placehold{
    margin-left:0;
}
.whats-fresh :last-child .whats-fresh-placehold{
    margin-right:0;
}
.whats-fresh-title a{
    color:white;
    font-family: 'GothamBold';
    position: relative;
}
.whats-fresh-title a:hover{
    text-decoration: none;
}
#whats-fresh-fullbar{
    position:absolute;
    bottom:0;
    transform: translateX(-50%);
    left:50%;
    width:100vw;
    background: #e07757;
    font-size:20px;
    font-weight:600;
    letter-spacing:1px;
    padding:8px;
}

.site-branding img{
    height:180px!important;
    width:180px!important;
    max-width: none;
}
.site-branding{
    height:90px;
    z-index:100;
}
.site-header{
    padding-top:20px;
    background-color:white;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.site-header nav{
    position:relative;
}
#primary-menu{
    padding-left:30px;
    display:flex;
    width:100%;
    justify-content: space-between;
}
#primary-menu a{
    font-family: 'GothamBold';
    color:#404040;
    text-transform:uppercase;
    font-size:20px;
}

#primary-menu a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: 0;
    background-color: #e07757;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
  }
  #primary-menu a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  #social-links i{
      float:right;
      font-size:24px;
      margin-left:5px;
  }
  #social-links{
    margin:15px 0 5px 0;
  }
  .full-background{
      position:relative;
      height:100vh;
      width:100vw;
      background-size: cover;
      margin-bottom:30px;
  }
  .landing-footer{
      position: absolute;
      bottom:0;
      width:100%;
      background-color:white;
  }
  .clr-primary{
      color: var(--color-primary);
  }
  .clr-secondary{
      color: var(--color-secondary);
  }
  #landing-text{
      position:absolute;
      bottom:20%;
      right:0;
      background: rgba(255,255,255,.75);
      padding:40px;
      width:60%;
  }
  #landing-text h2{
      font-size:60px;
      font-family: 'GothamBold';
      color:black;
      float:left;
  }
  #landing-text a{
      position:absolute;
      bottom:59px;
      padding:5px 40px;
      background-color: var(--color-primary);
      color:white;
  }

ul.wp-block-gallery{
    margin:0 !important;
}

.whats-fresh-title a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
.whats-fresh-title a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* parents font size must be explicitly written */
.line-height-center{
    line-height: 2em !important;
}

#carouselExampleIndicators{
    
    position:absolute;
    top:0;
    left:0;
}
#carouselExampleIndicators .carousel-item{
    min-height:100vh;
    min-width:100vw;
    z-index:-1;
    background-size: cover;

}

#carouselExampleIndicators .carousel-item:nth-child(1){
    background-image:url('https://i.imgur.com/OxadzST.jpg');
}
#carouselExampleIndicators .carousel-item:nth-child(2){
    background:gray;
}
.carousel-control-next{
    align-items:flex-end;
}
.carousel-control-next-icon{
    margin-bottom:75px;
}
.carousel-control-prev{
    align-items:flex-end;
}
.carousel-control-prev-icon{
    margin-bottom:75px;
}
.carousel-indicators{
    bottom:45px;
}
